@media (max-width: 501px) {
    .error-container{
        transform: translateY(120px) 
       }
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@font-face {
    font-family: 'NewFont';
    src: url('./Antithesis.otf');
}


.error-container {
    width: 600px; 
    margin: 50px auto;
    background: rgba(255, 254, 253, 0.015);
    backdrop-filter: blur(2px);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

h1 {
    font-family: "NewFont";
    font-size: 30px;
    text-align: center;
    font-style: oblique;
    letter-spacing: 5px;
    background: linear-gradient(45deg, #004c8a, #0b3252e7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

p {
    color: red;
    text-align: center;
    font-family: "NewFont";
    font-size: 16px; /* taille fixe */
    margin: 0;
}

a {
    display: inline-block;
    margin-top: 6px;
    padding: 10px;
    text-decoration: none;
    font-family: "NewFont";
    font-size: 20px; /* taille fixe */
    background-color: #2b6180;
    color: white;
    border-radius: 5px;
}

a:hover {
    background-color: #8d0000;
}