body {
    background-image: url("6.jpg");
    backdrop-filter: blur(5px);
}


h1{
    color: white;
    text-align : center;
    font-family: fangsong;
    font-style: italic;
    font-size: 80px;
    letter-spacing:5px
}

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    gap: 20px ;
    
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 300px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.351);
}

.cards:hover{
    transform: translateY(-10px); 
  box-shadow: 0 12px 20px rgba(0,0,0,0.2); 
}

.clickCard{
    outline: none;
    background: none;
    border: none;
}
img{
    width: 260px;;
    height: 260px ;
    border-radius: 20px;
}
.name{
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: medium;
    letter-spacing: 4px;
    font-family: fangsong;
}