<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Document</title>
</head>
<body>
 
    <h1>
        ConcertHub
    </h1>

    <div class="container">
        {{ range $i, $artist := . }}
            <button class="clickCard"><div class="cards">
                <img alt="Image" src="{{ $artist.Image }}" >
                <p class="name">
                    {{$artist.Name}}
                </p>
            </div>
        </button>
        {{ end }}
    </div>














</body>
</html>